
  .heading{
    &-primary{
      color: $color-white;
      text-transform: capitalize;
      backface-visibility: hidden;
      
      margin-bottom: 6rem;

      @include respond(tab-land){
        padding: 0;
        margin-bottom: 0;
        margin-top: 5rem;
        }
      

      @include respond(tab-port){
        padding: 0;
        margin-bottom: 5rem;
        margin-top: 12rem;
        }

      @include respond (phoneMedP){
          margin-top: 0;
          margin-bottom: 2rem;
          
        }

        @include respond(phoneMed){
          margin-bottom: 0;
        }
     

      
      

  
      &--main{
          display: inline-block;
          font-size: 6rem;
          font-weight: 700;
          letter-spacing: 1rem;
          margin-right: 3rem;
          animation: moveInLeft 3s ease-out;
   
          @include respond(tab-land){
            font-size: 5rem;
            letter-spacing: .5rem;
            margin-right: 2rem;
            }
         
         
          @include respond(tab-port){
            font-size: 5rem;
            letter-spacing: .75rem;
            margin-right: 2rem;
          }

          @include respond (ipad){
            letter-spacing: .5rem;
          }

          @include respond(phoneMedP){
            font-size: 4rem;
            letter-spacing: .5rem;
            margin-right: 1.8rem;
        
          }

          @include respond(phoneSmall){
            font-size: 3rem;
            letter-spacing: .5rem;
            margin-right: 1.8rem;
        
          }

  
      }

      &--main2{        
      display: inline-block;
      font-size: 6rem;
      font-weight: 700;
      letter-spacing: 1rem;
      animation: moveInRight 3s ease-out;

      
        @include respond(tab-land){
          font-size: 5rem;
          letter-spacing: .5rem;
        }
      
    @include respond(tab-port){
        font-size: 5rem;
    }
    @include respond(phoneMedP){
      font-size: 4rem;
      letter-spacing: .5rem;
      
  
    }
    @include respond(phoneSmall){
      font-size: 3rem;
      margin-bottom: 2rem;
      letter-spacing: .75rem;
    }
  
      }
      &--sub{
      display: block;
      font-weight: 400;
      letter-spacing: .75rem;
      animation: appear 1s ease-out 3s;
      animation-fill-mode: backwards;

      @include respond(tab-port){
        font-size: 2rem;
    }
    


  
      }
    }

    &-secondary{
        text-transform: capitalize;
        font-size: 4rem;
        font-weight: 400;
        margin-bottom: 5rem;
        color: $color-black;

        @include respond(tab-port){
          font-size: 3rem;
          margin: 0;
      }

      @include respond(phoneMedP){
        margin: 0;
        
    
      }


      @include respond (phoneSmall){
        font-size: 3rem;
        margin-top: 0;
        margin-bottom: 0;
      }
      
        
        &-2{
          color: $color-white;
          text-transform: capitalize;
          font-size: 4rem;
          font-weight: 400;
          margin-bottom: 5rem;
        }

    }
    
  }
    
    .middle-int{
      display: inline-block;
      font-size: 6rem;
      font-weight: 700;
      margin-right: 3rem;
      letter-spacing: 1rem;
     
      animation: appear 3s ease-out;

      @include respond(tab-land){
        font-size: 5rem;
        margin-right: 2rem;
        }

      @include respond(tab-port){
        font-size: 5rem;
        margin-right: 2rem;
        }

        @include respond(phoneMedP){
          font-size: 4rem;
    
        }
          @include respond(phoneSmall){
        font-size: 3rem;
        letter-spacing: .5rem;
        margin-right: 1.5rem;
    
        }
    
    }
    .middle-int:hover{
      /* color: rgba(52, 153, 247, 0.781);
      cursor: pointer; */
      /* animation: appear2 1s ease-out; */
    }
     