@mixin clearfix {
    &::after{
        content: '';
        display: table;
        clear: both;
    }

}

@mixin picFormat {
    background-size: cover;
    height: 23rem;
   background-blend-mode: screen;
   cursor: pointer;       
   background-position: center;

}