$color-black: #000;
$color-white: #fff;
$color-gray-light-1: #f7f7f7;

$color-secondary: rgba(20, 0, 197, 0.699);
$react-blue: blue;
$color-yellow-javascript: rgb(240, 219, 79);
$color-black-javascript: rgb(50, 51, 48);
$color-css-red: red;


// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem; 
$gutter-horizontal: 6rem;