.btn{

    &:link,
    &:visited{
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        font-size: 1.6rem;
        position: relative;
        transition: all .2s;
        margin-right: 7rem;

    }
    &:hover{
        transform: translateY(-.5rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

    }
    &:active{
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    }
    &::after{
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        color: $color-white;

    }
    &-white{
        color: $color-black;

        &::after{
            background-color: $color-white;
        }

    }

    &-animated{

        animation: moveInBottom .7s ease-out 3s;
        animation-fill-mode: backwards;
      
      }
      &__container-form{
          display: block;
          text-align: center;

      }

      &-form{
          font-size: 1rem;
          font-family: inherit;
          width: 16em;
          height: 4rem;
          border-radius: 10rem;
          text-align: center;
          display: inline-block;
          outline: none;
          color: $color-white;
          box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.2);
          background: rgba(56, 56, 56, 0.75);
          transition: all .2s ease-out;
          backface-visibility: none;
          border: 1px solid black;
          
        &:hover{
            background: rgba(0, 0, 0, 0.75);
            transform: translateY(-.8rem);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            }
        &:disabled{
            cursor: not-allowed;  
        }

        &:active{
            transform: translateY(-.3rem);
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
        }
        
          
      }



}
