.section-projects--main{
    position: relative;
    
    & .fa-arrow-circle-right{
        position: absolute;
        font-size: 6rem;
        top: 40%;
        left: 93%;

        @include respond (tab-land){
            top: 100%;
            left: 55%;
        }

       @include respond (tab-port){
           top: 40%;
           left: 88%;
       }

       @include respond (phone){
        top: 100%;
        left: 50%;
        font-size: 5rem;

    }

        @include respond (phoneMedP){
            top: 100%;
            left: 50%;
            font-size: 4rem;
            
          }

        &:hover{
            color: $color-icon-gray;

        }
    }

    & .fa-arrow-circle-left {
        position: absolute;
        font-size: 6rem;
        top: 40%;
        right: 93%;

        @include respond (tab-land){
            top: 100%;
            left: 40%;
        }

        @include respond (tab-port){
            top: 40%;
            right: 88%;
        }

        @include respond (ipad){
            top: 40%;
            left: 4%;
          }

        @include respond (phone){
            top: 100%;
            left: 40%;
            font-size: 5rem;
            

        }

        @media(max-width: 35.125em){
            top: 100%;
            left: 35%;
            font-size: 5rem;

        }

        @include respond (phoneMedP){
           
            font-size: 4rem;
            
            
          }

        &:hover{                
            color: $color-icon-gray;

            
        }
    }
}