.section-projects--main{
    position: relative;
    
    & .fa-arrow-circle-right{
        position: absolute;
        font-size: 6rem;
        top: 40%;
        left: 93%;
        @include respond (phoneSmall){
            top: 100%;
            left: 50%;
            font-size: 4rem;
            
          }

        &:hover{
            color: $color-icon-gray;

        }
    }

    & .fa-arrow-circle-left {
        position: absolute;
        font-size: 6rem;
        top: 40%;
        right: 93%;

        @include respond (phoneSmall){
            top: 100%;
            left: 35%;
            font-size: 4rem;
            
          }

        &:hover{                
            color: $color-icon-gray;

            
        }
    }
}